 <!-- Barra de Navegación -->
 <nav class="w-full bg-gray-800 text-white py-4 flex justify-around fixed top-0 left-0 z-50">
    <a routerLink="/" class="text-lg hover:underline">Inicio</a>
    <a routerLink="galeria" class="text-lg hover:underline">Galería</a>
    <a routerLink="comparador" class="text-lg hover:underline">Comparador de Razas</a>
    <a routerLink="login" class="text-lg hover:underline">Foro Comunitario</a>
    <!--<a routerLink="pruebas" class="text-lg hover:underline">pruebas</a>
    <a routerLink="login" class="text-lg hover:underline">login</a>-->


  </nav>