@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes banner-slide-continuous {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-banner-slide {
  animation: banner-slide-continuous 40s linear infinite;
}
