  <!-- Botones Llamativos -->
  <div class="flex flex-wrap justify-center gap-8 mt-8">
    <button (click)="navegar('galeria')" class="bg-blue-500 text-white px-6 py-3 rounded-md shadow-lg hover:bg-blue-600">
      Ver Galería
    </button>
    <button (click)="navegar('generador')" class="bg-green-500 text-white px-6 py-3 rounded-md shadow-lg hover:bg-green-600">
      Generar Perro Aleatorio
    </button>
    <button (click)="navegar('comparador')" class="bg-yellow-500 text-white px-6 py-3 rounded-md shadow-lg hover:bg-yellow-600">
      Comparar Razas
    </button>
  </div>